body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

 /* Navbar Styling */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
  }
  
  .nav-left ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-left ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
  }
  
  .nav-left ul li a:hover {
    color: #f8b400;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .nav-right input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f8b400;
    outline: none;
  }
  
  /* Hamburger button */
  .hamburger {
    display: none; /* Caché par défaut */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Menu toggle (checkbox) */
  .menu-toggle {
    display: none; /* Assurez-vous que la checkbox ne soit pas visible */
    z-index: 10;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
#hero {
    background: linear-gradient(to bottom right, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.scroll-btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#about {
    padding: 50px;
    text-align: center;
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .footer-text p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #ccc;
  }
  